<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proch.practicehub"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MetronomeActivity"
            android:label="Metronome" >
        </activity>

        <service android:name="com.proch.practicehub.MetronomeService" >
        </service>

        <activity
            android:name=".TunerActivity"
            android:label="Tuner" >
        </activity>
        <activity
            android:name=".DroneActivity"
            android:label="Drone" >
        </activity>

        <service android:name="com.proch.practicehub.DroneService" >
        </service>
    </application>

</manifest>