<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.proch.practicetools"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:debuggable="true">
        
        <activity android:name=".MainScreen"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MetronomeScreen"
        	android:label="Metronome">
        </activity>
        
        <service android:name=".MetronomeService">
        </service>
        
        <activity android:name=".TunerScreen"
        	android:label="Tuner">
        </activity>
        
        <activity android:name=".DroneScreen"
        	android:label="Drone">
        </activity>
        
    </application>

<uses-permission android:name="android.permission.RECORD_AUDIO"/>
<uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest> 